<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Waves</title>

    <!--? Bootstrap cdn  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

    <!--? FAVICON LINKS -->
    <link rel="shortcut icon" href="https://res.cloudinary.com/dngfmzv2g/image/upload/v1677951117/blogging_1_z0bgnm.png"
        type="image/x-icon">

    <!--? FONT AWESOME LINK  -->
    <script src="https://kit.fontawesome.com/d6b3f4e3c1.js" crossorigin="anonymous"></script>

    <!--? LOTTIE PLAYER CDN  -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <!--? LOCAL CSS LINK  -->
    <link rel="stylesheet" href="/static/css/dashboardStyle.css">

</head>

<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-dark">
        <div class="container-fluid nav" style="padding: 0.5rem 10%">
            <div class="logo">
                <a class="navbar-brand" href="#">Word <span>Waves</span> </a>
            </div>
            <button class="navbar-toggler btn-drop" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                aria-label="Toggle navigation" style="border:none; width: 3rem; height: 3rem; border-radius: 50%;">
                <i class="fa-solid fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Go Site</a>
                    </li>
                </ul>
                <div class="login">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link logout" href="/admin/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>