<%- include('partials/header'); -%>

    <div class="about-container">

        <section class="pt-4 pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="col-12 col-lg-10 col-xl-8 show-on-scroll show-on-scroll-ready" data-show-distance="10" data-show-duration="600" style="transform: translateY(0px); transition-duration: 600ms; opacity: 1;">
                            <h1 class="h2 mt-15 pb-4 pb-sm-0 mb-130 ContactHeading">About Me 😊</h1>
                        </div>
                        <p class="lead">
                            <h3>I'm Md Kaif Ansari</h3>
                            I am a skilled full-stack web developer with a strong background in HTML, CSS, JavaScript, Node.js, Express, MongoDB, Mongoose, JWT, and Express.js. With my expertise in these technologies, I have the ability to create dynamic and robust web applications.
                        </p>
                        <p>My passion for web development has driven you to constantly improve my skills and learn new technologies. Currently, I am focused on learning React, a popular front-end JavaScript library, which will enable me to build scalable and responsive user interfaces.

                            As a full-stack developer, I understand the importance of delivering a seamless user experience across both the front-end and back-end of an application. With your expertise in these technologies, I am able to design and implement solutions that not only meet the functional requirements but also provide a great user experience.
                            
                            My commitment to learning and improving your skills is a testament to your dedication to the field of web development. My passion and skill set make you a valuable asset to any team that I am a part of, and your drive to succeed will undoubtedly lead you to accomplish great things in your career as a web developer.</p>

                        <!-- Team END -->
                        <!-- Service START -->
                        <!-- Service END -->
                    </div> <!-- Col END -->
                </div>
            </div>
        </section>
    </div>



    <%- include('partials/footer'); -%>