<section class="overflow-hidden">
    <div class="container w-100 h-100">
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_vzj1xd0x.json"  background="transparent"  speed="1"  style="width: 100% !important; height: 80%; margin: auto 0px !important;"  loop  autoplay></lottie-player>            
    </div>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</section>